// Änderungen an Bootstrap Variablen müssen vor dem Import der Basisdateien hinzugefügt werden.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px
);

@import "fonts";
@import "variables";
@import "bootstrap/bootstrap.scss";

* {
  hyphens: auto;
}

.my-table-head {
  font-weight: normal;
  cursor: pointer;
}

.my-table-color-1 {
  background-color: $gray-200;
}

.my-table-color-2 {
  background-color: $gray-100;
}

.my-table-row-highlight {
  background-color: red;
}

.my-invalid-input {
  background-color: var(--bs-danger-border-subtle);
}

.navbar-brand img {
  height: 5rem;
}

#possible-mutant-numbers button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 !important;
  line-height: 1 !important;
}

#possible-mutant-numbers li p {
  height: 1.5rem;
  padding: 0 !important;
}

fieldset#mutant-number-search input[type="number"] {
  // Entfernt die Pfeile in WebKit-Browsern (Chrome, Edge, Safari, Opera)
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Entfernt die Pfeile in Firefox
  -moz-appearance: textfield;
}