// Änderungen an Bootstrap Variablen müssen vor dem Import der Basisdateien hinzugefügt werden.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px
);

@import "fonts";
@import "variables";
@import "bootstrap/bootstrap.scss";

* {
  hyphens: auto;
}

.my-table-head {
  font-weight: normal;
}

.my-tabel-color-1 {
  background-color: $gray-200;
}

.my-tabel-color-2 {
  background-color: $gray-100;
}

.navbar-brand img {
  height: 5rem;
}